@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Advent+Pro&family=Russo+One&display=swap');

body { 
  background-image: url("images/elti-meshau-bg.jpg");
  /* https://unsplash.com/photos/2S2F2exmbhw?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover;
  background-position: center center;
  
 }

.background{
  color:crimson;
  min-height: 100vh; 
  
}


.components{

  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}


 /* Navbar */

.link-text{

  color:crimson;
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
  transition: color 1s;

}

.link-text:hover{

  color:white;

}

/* Navbar */





/* Home Page */

.background-home{
  color:crimson; 
  height: 100vh;
  margin-top:0px;
  

}

#logo-inner-box{
  /* border:1px solid red; */
  position:relative;
  width: 300px;
}


#logo-ha{

  position:absolute;
  animation: slide-logo-ha 2s ease-in-out 0s 1 forwards;

}

#logo-mim{

  position:absolute;
  top: 40px;
  left: 35px;
  animation: slide-logo-mim 4s ease-in-out 0s 1 forwards;
}

#logo-ain{

  position:absolute;
  animation: slide-logo-ain 2s ease-in-out 0s 1 forwards;
  
}


@keyframes slide-logo-ha {
  0% {
    left:80px;
    top:50px;
    opacity: 0;
  }
  100% {
    left:150px;
    top:0px;
    opacity: 1;
  }
}


@keyframes slide-logo-mim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@keyframes slide-logo-ain {
  0% {
    left:70px;
    top:70px;
    opacity: 0;
  }
  100% {
    top:100px;
    left:0px;
    opacity: 1;
  }
}


#title{
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Russo One', sans-serif;
  animation: typing 1.5s linear forwards;

}

#sub-title{
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Advent Pro', sans-serif;
  animation: typing 1.5s linear 1.5s forwards;

}

@keyframes typing {
  from { 
    opacity:0;
    width: 0%;
   }
  to { 
    opacity: 1;
    width: 100%;
   }
}



/* Home Page */


/* Work Experience Page */


.shade{

  padding-top: 100px;
  background-color: rgba(0,0,0,0.4);
  


}

.panel-title{

  font-family: 'Russo One', sans-serif;
  font-size: 30px;
  margin-bottom:40px;
  
  



}



/* 
.card-properties:hover{


  
  animation:2s card forwards;


}  */



.card-container {
  background-color: transparent;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  perspective: 1000px;
}

.card-container-inner{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}



/* .card-container:hover .card-container-inner{

  animation:2s card forwards;


} */


.card-container-animate .card-container-inner-animate{

  animation:2s card forwards;


}


.card-front, .card-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  


}


.card-front {
  background-color: crimson;
  border-radius: 20px;
}

.card-back {
  background-color: white;
  color: black;
  border-radius: 20px;
  transform: rotateY(180deg);
}

.card-back-inner{

  background-color: black;
  color: crimson;
  height: 90%;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  
  
  
  

}


.card-back-title{

  font-family: 'Comfortaa', sans-serif;
  font-size: 50px;
  margin-left:15%;
  margin-right:15%;

  color:crimson;

}

@keyframes card {
  0% { 
    /* transform: translateZ(0); */
    transform: rotateY(0deg) scale(1);
   }
  50% { 
    /* transform: translateZ(-42px); */
    transform: rotateY(180deg) scale(1.3);

   }
   100%{

    transform: rotateY(180deg) scale(1);

   }
}







/* Work Experience Page */

@media (min-width:1200px) {

  /* Home Page */

  /* Components */

  .components{

    display: block;

  
  }

  #logo-outer-box{
    position:absolute;
    top: 500px;
    right: 100px;
  }

   
  #intro{
    position:absolute;
    top: 550px;
    left: 100px;   
  }



  /* Components */
  
  
 

  /* Home Page */

}



