body { 
  background-image: url("linedphoto-cGcHSGzSDoM-unsplash.jpg");
  /* https://unsplash.com/photos/cGcHSGzSDoM?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover;
  background-position: center center; 
 }

/* Page */
.background{

  color:red;
  height: 100vh;
  /* width: 100vw; */
  border:1px red solid;
  margin-top:0px;
  

}
/* Page */


/* Navbar */

.link-color{

  color:crimson;
  transition: color 1s;

}

.link-color:hover{

  color:white;

}

/* Navbar */